<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
    <style>
        .myfield{
            border:1px solid #ccc;
            border-radius:5px;
            height:25px;
            width:200px;
            margin: 10px 10px 10px 0;
        }
    {#.alert{color:red}#}
    {#.form-group{margin: 10px 0;}#}
    {#.form-group input{width:250px;height: 25px;border-radius:3px;}#}
    {#    .field{font-weight: bold; }#}
    {#    .error{color: red; }#}
    </style>
</head>
<body class="container">
{#    <form method="POST" novalidate>#}
{#        {% csrf_token %}#}
{#    <div>#}
{#        {% for field in form %}#}
{#        <div class="form-group">#}
{#            {{field.label_tag}}#}
{#            <div>{{field}}</div>#}
{#            {% if field.errors %}#}
{#                {% for error in field.errors %}#}
{#                <div class="alert alert-danger">#}
{#                    {{ error }}#}
{#                </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <input type="submit" value="Send" >#}
{#    </form>#}
{#    <form method="POST" novalidate>#}
{#        {% csrf_token %}#}
{#        <table>#}
{#        {{form}}#}
{#        </table>#}
{#        <input type="submit" value="Send" >#}
{#    </form>#}
    <form method="POST" novalidate>
        {% csrf_token %}
        <div>
        {% for field in form %}
        <div class="row">
            {{field.label_tag}}
            <div class="col-md-10">{{field}}</div>
            {% if field.errors%}
            <div class="error">{{field.errors}}</div>
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Send" >
    </form>
    <div>
        {% for data in mydata.values %}
        <div>{{data.name}}, {{ data.age }}</div>
        {% endfor %}
    </div>
    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>
    {% if data.n > 0 %}
        <p>Число положительное</p>
    {% elif data.n < 0 %}
        <p>Число отрицательное</p>
    {% else %}
        <p>Число равно нулю</p>
    {% endif %}
    <ul>
        {% for lan in langs %}
            <li>{{ lan }}</li>
        {% empty %}
            <li>Langs array is empty</li>
        {% endfor %}
    </ul>
    {% with name="Tom" age=29 %}
        <div>
            <p>Name: {{ name }}</p>
            <p>Age: {{ age }}</p>
        </div>
    {% endwith %}
</body>
</html>